.letter{
  display: flex;
  border: 1px solid grey;
  margin: 5px;
  padding: 15px;
  height: 30px;
  width: 30px;
  align-items: center;
  font-size: 30px;
  justify-content: center;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#correct {
  background-color: #528d4e;
}

#almost {
  background-color: #b49f39;
}

#error {
  background-color: #3a393c;
}